TROMBAT_DATA_SERIES4=B:/Export/TROMBAT/series 4/modified_data
TROMBAT_DATA_SERIES5=B:/Export/TROMBAT/series 5/modified_data
TROMBAT_OUTPUT=T:/1_TZE_Forschung/2_Energiespeicher_Pettinger/3_Projekte/20064_TromBat/25 Datenauswertung

